:root {
    --primary-color: #0d4d75;
    --secondary-color: #333333;
    --background-color: #ffff;
    --text-color: #ffffff;
    --border-radius: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
 body { 
    background: rgb(224, 221, 255);
 }
 
 header{
    display: block;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: larger;

}
 
 #course-title {
    background: var(--primary-color);
    color: var(--text-color);
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 700;
 }

 nav{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    unicode-bidi: isolate;

 }

 nav a{
    background: var(--secondary-color);
    padding: 15px;
    color: var(--text-color);
    text-align: center;
 }

 nav a:hover {
    background-color:#ffd700 ;
    box-sizing: border-box;
    color:var(--text-color) ;
    background-size: auto;
    border-radius: var(--border-radius);
    transform: scale(1.);
    padding: 10px;
 }

 a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
 }
 main{
    width: 90%;
    margin: auto;
 }

 h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
 }

.container{
    display: grid;
    grid-template-columns:2fr 1fr;
    gap: 20px;
}

 .card {
    background: var(--background-color);
    border-radius: var(--border-radius);
    border: 1px groove var(--secondary-color);
 }

 .card h2, .resources h2 {
    display: block;
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    border-radius: var(--border-radius);
 }

 .about-content{
    display:flex;
    padding: 20px;
    gap: 20px;
 }

 .about-content img{
    width: 170px;
    border-radius: var(--border-radius);
 }

 .about-content p{
    line-height: 1.8;
 }

h3{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    margin: 0 auto 30px auto;
    border-top: 1px solid grey;
}

.country{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.country img{
    width: 160px;
    height: 100px;
}

.country p{
    line-height: 1.7;
}

.resources ul{
    align-items:left ;
    padding: 20px;
    unicode-bidi: isolate;

}

.resources li{
    text-align: left;
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.resources a{
    color: var(--primary-color);
}

footer{
    margin-top: 30px;
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

footer p{
    margin: 5px;
}